In [14]:
#import modules
import json
import pandas as pd
from binance.client import Client
from dotenv import load_dotenv
from envs import env
import time
import re
import os
import datetime
from datetime import timedelta
import statistics

In [15]:
#import classes from ./ folder
import postgresdbAccess

In [16]:
#read fibonacci retracements  from json
with open('fibLvl.json') as file:
    fibLvl = json.load(file)

In [17]:
def backtest():
    #initiate empty open positions
    openPositions = {}
    #initiate postgresdb class
    postgres = postgresdbAccess.postgresAccess()
    #get unique simbol list
    sql = ("SELECT distinct symbol FROM " + dbTable + ";")
    uniqueSymbol = pd.DataFrame(postgres.sqlQuery(sql))
    uniqueSymbol = uniqueSymbol[0]
    #initiate empty percent bar
    percentBar = 0
    #loop over every symbol in symbol list
    for symbol in uniqueSymbol:
        #print progress
        print(percentBar, " / ", len(uniqueSymbol))
        percentBar = percentBar + 1
        #skip if symbol is not to be considered
        #null askprice is sorted out with crawler already
        if not (symbol.endswith(baseCurrency) and
               len(symbol) < 11):
            continue
        #check if open position was left over from last symbol and simulate close
        if openPositions:
            #prepare sql for close
            openPositions['resultPercent'] = ((row[4] - openPositions['askPrice']) / openPositions['askPrice']) * 100 - brokerFees * 2.55
            openPositions['stopId'] = row[0]
            closeSql = ("UPDATE " + dbTable + " SET" +
            " startId = '" + str(int(openPositions['startId'])) +
            "', fibLevel = '" + str(openPositions['fibLevel']) +
            "', midId = '" + str(int(openPositions['id'])) +
            "', corValue = '" + str(openPositions['corValue']) +
            "', takeProfit = '" + str(openPositions['takeProfit']) +
            "', stopLoss = '" + str(openPositions['stopLoss']) +  
            "', resultpercent = '" + str(openPositions['resultPercent']) +
            "', stopid = '" + str(openPositions['stopId']) +
            "' WHERE id = '" + str(int(openPositions['id'])) +
            "';")
            postgres.sqlUpdate(closeSql)
            openPositions = {}
        #query for every line for symbol
        sql = ("SELECT id, time, symbol, askprice, " +
               "bidprice, highprice, quotevolume, " +
               "pricechangepercent, weightedavgprice, openprice" +
            " FROM " + dbTable + " WHERE" +
            " symbol like '" + symbol + "' order by id;")
        print(sql)
        bigData = pd.DataFrame(postgres.sqlQuery(sql))
        bigData[0] = pd.to_numeric(bigData[0])
        bigData[1] = pd.to_datetime(bigData[1])
        bigData[3] = pd.to_numeric(bigData[3])
        bigData[6] = pd.to_numeric(bigData[6])
        bigData[7] = pd.to_numeric(bigData[7])
        bigData[8] = pd.to_numeric(bigData[8])
        bigData[9] = pd.to_numeric(bigData[9])
        #get start of timedelta
        bigData[5] = bigData[1] - timedelta(hours=33)
        #loop over every row
        for index, row in bigData.iterrows():
            before_start_date = bigData[1] <= row[5]
            if len(bigData.loc[before_start_date]) > 0:
                #get data for consideration
                after_start_date = bigData[1] >= row[5]
                before_end_date = bigData[1] <= row[1]
                between_two_dates = after_start_date & before_end_date
                fibDates = bigData.loc[between_two_dates]
                diff = fibDates[3].max() - fibDates[3].min()
                # calculate fibRetracements
                fibRetracement = pd.DataFrame(fibLvl)
                maxAsk = fibDates[3].max()
                for lvl in fibRetracement:
                    fibRetracement[1] =  maxAsk - diff * fibRetracement[0]
                    fibRetracement[2] = fibRetracement[1] * 0.9995
                    fibRetracement[3] = fibRetracement[1] * 1.0005
                #calculate corvalue
                corValue = fibDates[0].corr(fibDates[3])
                #if an open position exists, check if it can be closed
                if openPositions:
                    if (row[3] < openPositions['stopLoss'] or
                        row[3] > openPositions['takeProfit']):
                        #prepare sql for close
                        openPositions['resultPercent'] = ((row[4] - openPositions['askPrice']) / openPositions['askPrice']) * 100 - brokerFees * 3.5
                        openPositions['stopId'] = row[0]
                        closeSql = ("UPDATE " + dbTable + " SET" +
                        " startId = '" + str(int(openPositions['startId'])) +
                        "', fibLevel = '" + str(openPositions['fibLevel']) +
                        "', midId = '" + str(int(openPositions['id'])) +
                        "', corValue = '" + str(openPositions['corValue']) +
                        "', takeProfit = '" + str(openPositions['takeProfit']) +
                        "', stopLoss = '" + str(openPositions['stopLoss']) +  
                        "', resultpercent = '" + str(openPositions['resultPercent']) +
                        "', stopid = '" + str(openPositions['stopId']) +
                        "', stdev = '" + str(openPositions['stDev']) +
                        "' WHERE id = '" + str(int(openPositions['id'])) +
                        "';")
                        #update database
                        postgres.sqlUpdate(closeSql)
                        #clear open position
                        openPositions = {}
                else:
                    #loop over considered fibonacciretracements
                    for i in [7]:
                        #check if buy requirements are met
                        if (corValue > 0.5 and
                            row[3] < fibRetracement[3][i] and
                            row[3] > fibRetracement[2][i]):
                            openPositions['startId'] = fibDates[0].min()
                            openPositions['id'] = row[0]
                            openPositions['bidPrice'] = row[4]
                            openPositions['fibLevel'] = i
                            openPositions['symbol'] = symbol
                            openPositions['askPrice'] = row[3]
                            openPositions['corValue'] = corValue
                            openPositions['stDev'] = statistics.stdev(fibDates[8])
                            openPositions['takeProfit'] = fibRetracement[3][i+2]
                            openPositions['stopLoss'] = fibRetracement[2][i-1]
    #close database connection
    postgres.databaseClose()

In [ ]:
testTables = [{"table":"table001","currency":"BNB"},
             {"table":"table001","currency":"BTC"},
             {"table":"table001","currency":"ETH"},
             {"table":"table001","currency":"ADA"}]
for iteration in testTables:
    load_dotenv('../.env')
    try:
        liveVolume=env("liveVolume")
        apiSecret=env('apiSecret')
        apiKey=env('apiKey')
        dbTable=iteration["table"]
        baseCurrency=iteration["currency"]
        brokerFees=float(env('brokerFees'))
        liveTrading=env("liveTrading", 'False').lower() in ('true', '1', 't')
    except KeyError:
        print("No env variables set.")
        sys.exit(1)
    client = Client(apiKey, apiSecret, {'timeout':600})
    backtest()

0  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'JSTBNB' order by id;
1  /  748
2  /  748
3  /  748
4  /  748
5  /  748
6  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ADXBNB' order by id;
7  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ENJBNB' order by id;
8  /  748
9  /  748
10  /  748
11  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CNDBNB' order by id;
12  /  748
13  /  748
14  /  748
15  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WANBNB' order by id;
16  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'RDNBNB' order by id;
17  /  748
18  /  748
19  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'YOYOBNB' order by id;
20  /  748
21  /  748
22  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'IOSTBNB' order by id;
23  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FTTBNB' order by id;
24  /  748
25  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'OCEANBNB' order by id;
26  /  748
27  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'COMPBNB' order by id;
28  /  748
29  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BCPTBNB' order by id;
30  /  748
31  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BONDBNB' order by id;
32  /  748
33  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'UNFIBNB' order by id;
34  /  748
35  /  748
36  /  748
37  /  748
38  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NEBLBNB' order by id;
39  /  748
40  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ICPBNB' order by id;
41  /  748
42  /  748
43  /  748
44  /  748
45  /  748
46  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PAXBNB' order by id;
47  /  748
48  /  748
49  /  748
50  /  748
51  /  748
52  /  748
53  /  748
54  /  748
55  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DASHBNB' order by id;
56  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FLOWBNB' order by id;
57  /  748
58  /  748
59  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PIVXBNB' order by id;
60  /  748
61  /  748
62  /  748
63  /  748
64  /  748
65  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TOMOBNB' order by id;
66  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WAVESBNB' order by id;
67  /  748
68  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'EOSBNB' order by id;
69  /  748
70  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'LPTBNB' order by id;
71  /  748
72  /  748
73  /  748
74  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SPARTABNB' order by id;
75  /  748
76  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'THETABNB' order by id;
77  /  748
78  /  748
79  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'QNTBNB' order by id;
80  /  748
81  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SXPBNB' order by id;
82  /  748
83  /  748
84  /  748
85  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'VETBNB' order by id;
86  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'IOTABNB' order by id;
87  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BTSBNB' order by id;
88  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'GOBNB' order by id;
89  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DUSKBNB' order by id;
90  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SCBNB' order by id;
91  /  748
92  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ERDBNB' order by id;
93  /  748
94  /  748
95  /  748
96  /  748
97  /  748
98  /  748
99  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ZILBNB' order by id;
100  /  748
101  /  748
102  /  748
103  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PHXBNB' order by id;
104  /  748
105  /  748
106  /  748
107  /  748
108  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CHRBNB' order by id;
109  /  748
110  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'STPTBNB' order by id;
111  /  748
112  /  748
113  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'EGLDBNB' order by id;
114  /  748
115  /  748
116  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BCCBNB' order by id;

117  /  748
118  /  748
119  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CVCBNB' order by id;
120  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TORNBNB' order by id;
121  /  748
122  /  748
123  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'XVSBNB' order by id;
124  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FLMBNB' order by id;
125  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MLNBNB' order by id;
126  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SWRVBNB' order by id;
127  /  748
128  /  748
129  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DOTBNB' order by id;
130  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'GNTBNB' order by id;
131  /  748
132  /  748
133  /  748
134  /  748
135  /  748
136  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PHBBNB' order by id;
137  /  748
138  /  748
139  /  748
140  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WABIBNB' order by id;
141  /  748
142  /  748
143  /  748
144  /  748
145  /  748
146  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ONEBNB' order by id;
147  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'HARDBNB' order by id;
148  /  748
149  /  748
150  /  748
151  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FARMBNB' order by id;
152  /  748
153  /  748
154  /  748
155  /  748
156  /  748
157  /  748
158  /  748
159  /  748
160  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BCNBNB' order by id;
161  /  748
162  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'STRATBNB' order by id;
163  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'VIABNB' order by id;
164  /  748
165  /  748
166  /  748
167  /  748
168  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ICXBNB' order by id;
169  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'RLCBNB' order by id;
170  /  748
171  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ALPACABNB' order by id;
172  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'YFIIBNB' order by id;
173  /  748
174  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'OMGBNB' order by id;
175  /  748
176  /  748
177  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'INJBNB' order by id;
178  /  748
179  /  748
180  /  748
181  /  748
182  /  748
183  /  748
184  /  748
185  /  748
186  /  748
187  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'IRISBNB' order by id;
188  /  748
189  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ALGOBNB' order by id;
190  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MFTBNB' order by id;
191  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'XZCBNB' order by id;
192  /  748
193  /  748
194  /  748
195  /  748
196  /  748
197  /  748
198  /  748
199  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BIFIBNB' order by id;
200  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'LTOBNB' order by id;
201  /  748
202  /  748
203  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NEOBNB' order by id;
204  /  748
205  /  748
206  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'LSKBNB' order by id;
207  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TRBBNB' order by id;
208  /  748
209  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'AGIBNB' order by id;
210  /  748
211  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MDTBNB' order by id;
212  /  748
213  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'COSBNB' order by id;
214  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WNXMBNB' order by id;
215  /  748
216  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'RSRBNB' order by id;
217  /  748
218  /  748
219  /  748
220  /  748
221  /  748
222  /  748
223  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ARBNB' order by id;
224  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BZRXBNB' order by id;
225  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MINABNB' order by id;
226  /  748
227  /  748
228  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'KP3RBNB' order by id;

229  /  748
230  /  748
231  /  748
232  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NUBNB' order by id;
233  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ANKRBNB' order by id;
234  /  748
235  /  748
236  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MBLBNB' order by id;
237  /  748
238  /  748
239  /  748
240  /  748
241  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BEAMBNB' order by id;
242  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SKYBNB' order by id;
243  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ZENBNB' order by id;
244  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'XRPBNB' order by id;
245  /  748
246  /  748
247  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'XMRBNB' order by id;
248  /  748
249  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'VTHOBNB' order by id;
250  /  748
251  /  748
252  /  748
253  /  748
254  /  748
255  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CAKEBNB' order by id;
256  /  748
257  /  748
258  /  748
259  /  748
260  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'POWRBNB' order by id;
261  /  748
262  /  748
263  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'VITEBNB' order by id;
264  /  748
265  /  748
266  /  748
267  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ANTBNB' order by id;
268  /  748
269  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PAXGBNB' order by id;
270  /  748
271  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'HBARBNB' order by id;
272  /  748
273  /  748
274  /  748
275  /  748
276  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WTCBNB' order by id;
277  /  748
278  /  748
279  /  748
280  /  748
281  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'XEMBNB' order by id;
282  /  748
283  /  748
284  /  748
285  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'AVAXBNB' order by id;
286  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SOLBNB' order by id;
287  /  748
288  /  748
289  /  748
290  /  748
291  /  748
292  /  748
293  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BLZBNB' order by id;
294  /  748
295  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'POLSBNB' order by id;
296  /  748
297  /  748
298  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'QLCBNB' order by id;
299  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'LTCBNB' order by id;
300  /  748
301  /  748
302  /  748
303  /  748
304  /  748
305  /  748
306  /  748
307  /  748
308  /  748
309  /  748
310  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'LUNABNB' order by id;
311  /  748
312  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'QUICKBNB' order by id;
313  /  748
314  /  748
315  /  748
316  /  748
317  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SANDBNB' order by id;
318  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'AEBNB' order by id;
319  /  748
320  /  748
321  /  748
322  /  748
323  /  748
324  /  748
325  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BATBNB' order by id;
326  /  748
327  /  748
328  /  748
329  /  748
330  /  748
331  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SNXBNB' order by id;
332  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PROMBNB' order by id;
333  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'QTUMBNB' order by id;
334  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DREPBNB' order by id;
335  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NASBNB' order by id;
336  /  748
337  /  748
338  /  748
339  /  748
340  /  748
341  /  748
342  /  748
343  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PERLBNB' order by id;
344  /  748
345  /  748
346  /  748
347  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'COCOSBNB' order by id;
348  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ATABNB' order by id;
349  /  748
350  /  748
351  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CREAMBNB' order by id;
352  /  748
353  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WINBNB' order by id;
354  /  748
355  /  748
356  /  748
357  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WINGBNB' order by id;

358  /  748
359  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ONTBNB' order by id;
360  /  748
361  /  748
362  /  748
363  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'RENBNB' order by id;
364  /  748
365  /  748
366  /  748
367  /  748
368  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NULSBNB' order by id;
369  /  748
370  /  748
371  /  748
372  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CHZBNB' order by id;
373  /  748
374  /  748
375  /  748
376  /  748
377  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CTKBNB' order by id;
378  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ZRXBNB' order by id;